body {
    background-color: #57C5B6;
}

hr {
    border-color: #159895;
    border-style: dotted none none;
    width: 5%;
    border-width: 5px;
}

h1  {
    color: #002B5B;
}

h3{
    color: #1A5F7A;
}